ASPNETColoc@R/ASPNETColocAtR/Service References/WSColocAtR/ColocAtR1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ColocAtR" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IColocAtR_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50791/ColocAtR/ColocAtR.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50791/ColocAtR/ColocAtR.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50791/ColocAtR/ColocAtR.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSColocAtR" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IColocAtR_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_SignOut_InputMessage">
    <wsdl:part name="parameters" element="tns:SignOut" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_SignOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignOutResponse" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_RefreshLastActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshLastActivity" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_RefreshLastActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshLastActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_Whoami_InputMessage">
    <wsdl:part name="parameters" element="tns:Whoami" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_Whoami_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhoamiResponse" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_ProfilWizard_InputMessage">
    <wsdl:part name="parameters" element="tns:ProfilWizard" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_ProfilWizard_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProfilWizardResponse" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_GetScoringResults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScoringResults" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_GetScoringResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScoringResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_RetrieveProfileUN_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveProfileUN" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_RetrieveProfileUN_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveProfileUNResponse" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_RetrieveProfileUID_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveProfileUID" />
  </wsdl:message>
  <wsdl:message name="IColocAtR_RetrieveProfileUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveProfileUIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IColocAtR">
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IColocAtR/CreateAccount" message="tns:IColocAtR_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IColocAtR/CreateAccountResponse" message="tns:IColocAtR_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IColocAtR/SignIn" message="tns:IColocAtR_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IColocAtR/SignInResponse" message="tns:IColocAtR_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IColocAtR/SignOut" message="tns:IColocAtR_SignOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IColocAtR/SignOutResponse" message="tns:IColocAtR_SignOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshLastActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IColocAtR/RefreshLastActivity" message="tns:IColocAtR_RefreshLastActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IColocAtR/RefreshLastActivityResponse" message="tns:IColocAtR_RefreshLastActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Whoami">
      <wsdl:input wsaw:Action="http://tempuri.org/IColocAtR/Whoami" message="tns:IColocAtR_Whoami_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IColocAtR/WhoamiResponse" message="tns:IColocAtR_Whoami_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProfilWizard">
      <wsdl:input wsaw:Action="http://tempuri.org/IColocAtR/ProfilWizard" message="tns:IColocAtR_ProfilWizard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IColocAtR/ProfilWizardResponse" message="tns:IColocAtR_ProfilWizard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IColocAtR/ChangePassword" message="tns:IColocAtR_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IColocAtR/ChangePasswordResponse" message="tns:IColocAtR_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScoringResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IColocAtR/GetScoringResults" message="tns:IColocAtR_GetScoringResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IColocAtR/GetScoringResultsResponse" message="tns:IColocAtR_GetScoringResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveProfileUN">
      <wsdl:input wsaw:Action="http://tempuri.org/IColocAtR/RetrieveProfileUN" message="tns:IColocAtR_RetrieveProfileUN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IColocAtR/RetrieveProfileUNResponse" message="tns:IColocAtR_RetrieveProfileUN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveProfileUID">
      <wsdl:input wsaw:Action="http://tempuri.org/IColocAtR/RetrieveProfileUID" message="tns:IColocAtR_RetrieveProfileUID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IColocAtR/RetrieveProfileUIDResponse" message="tns:IColocAtR_RetrieveProfileUID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IColocAtR" type="tns:IColocAtR">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/SignOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshLastActivity">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/RefreshLastActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Whoami">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/Whoami" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProfilWizard">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/ProfilWizard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoringResults">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/GetScoringResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveProfileUN">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/RetrieveProfileUN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveProfileUID">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/RetrieveProfileUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IColocAtR" type="tns:IColocAtR">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IColocAtR_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/SignOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshLastActivity">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/RefreshLastActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Whoami">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/Whoami" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProfilWizard">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/ProfilWizard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoringResults">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/GetScoringResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveProfileUN">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/RetrieveProfileUN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveProfileUID">
      <soap:operation soapAction="http://tempuri.org/IColocAtR/RetrieveProfileUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ColocAtR">
    <wsdl:port name="BasicHttpBinding_IColocAtR" binding="tns:BasicHttpBinding_IColocAtR">
      <soap:address location="http://localhost:50791/ColocAtR/ColocAtR.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IColocAtR" binding="tns:BasicHttpsBinding_IColocAtR">
      <soap:address location="https://localhost:44301/ColocAtR/ColocAtR.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>